*{
margin: 0%;
padding: 0%;
background-color: black;
}
.navbar{
display: grid;
grid-template-columns: 60% 20% 20%;
}
.logo img{
width: 30%;
margin-top: 2%;
margin-left: 5%;
}
.home, .films{
justify-content: center;
margin-top: 25%;
}
.navbar a{
text-decoration: none;
}
.navbar h2{
color: gainsboro;
transition: 0.5s;
font-size: 20px;
}

.navbar h2:hover{
color: white;
transform: translateY(-5px);
}
.line{
width: 90%;
color: gray;
border: 2px solid;
margin-top: -2px;
margin-left: 4%;
}

.characters{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    grid-column-gap: 2%;
    margin-top: 5%;
    justify-content: space-around;
    margin-left: 1%;
}
.cards img{
    width: 90%;
}
.cards{
    border-radius: 4px solid grey;
}
.name{
    color: white;
    text-align: center;
    margin-top: 3%;
}